.cart {
  --radius: 2.5rem;
  border-radius: var(--radius);
  background-color: var(--page-color);
  margin: 0 4rem 4rem 0;
  padding: 3rem 3.5rem;
  box-shadow: var(--shadow);
  display: flex;
  gap: 3rem;

  .products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
