.card {
  .content {
    background-color: var(--box-color);
    overflow: hidden;
    border-radius: var(--radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 24rem;
    width: 20rem;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: var(--card-hover-color);
      &::after {
        top: 45%;
        right: 3%;
        transform: rotate(225deg);
        width: 29rem;
        height: 16rem;
      }
      &::before {
        top: -7%;
        left: 60%;
        transform: rotate(185deg);

        // background-color: var(--card-color);
        // opacity: 50%;
      }
      // .nameplant{
      //   // color:var(--contrast-font-color);
      //   padding: .2rem 1rem;
      //   border-radius: var(--radius);
      //   // background-color: var(--card-active-color)+"cc";
      // }
    }
    &::after {
      content: "";
      position: absolute;
      border-radius: var(--radius);
      background-color: var(--opacity-color);
      width: 10rem;
      height: 10rem;
      z-index: 0;
      top: 52%;
      right: -13%;
      transform: rotate(45deg);
      transition: transform 1s ease, top 1s ease, left 1s ease, width 1s ease, height 1s ease;
    }
    &::before {
      content: "";
      position: absolute;
      border-radius: var(--radius);
      background-color: var(--opacity-color);
      width: 10rem;
      height: 10rem;
      z-index: 0;
      top: 34%;
      left: -11%;
      transform: rotate(45deg);
     transition: transform 1s ease, top 1s ease, left 1s ease;

    }
    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .detail {
        display: flex;
        background-color: var(--font-color);
        color: var(--contrast-font-color);
        border-radius: var(--radius);
        gap: 0.5rem;
        padding: 0.2rem 1rem;
        font-size: 1.3rem;
        font-weight: 500;
        z-index: 2;
      }
      img {
        align-self: flex-end;
        width: 2.4rem;
        height: 2.4rem;
        z-index: 3;
      }
    }
    .point {
      width: 14rem;
      height: 14rem;
      z-index: 1;
      margin: 0 0.6rem;
    }
    .nameplant {
      font-weight: 500;
      text-transform: capitalize;
      font-size: 1.3rem;
      margin-top: 0.6rem;
      width: 100%;
      z-index: 2;
    }
    .price {
      display: flex;
      background-color: var(--font-color);
      color: var(--contrast-font-color);
      border-radius: var(--radius);
      gap: 0.5rem;
      padding: 0.2rem 3rem 0.2rem 1rem;
      font-size: 1.3rem;
      font-weight: 500;
      position: absolute;
      right: -11%;
      bottom: 1rem;
      z-index: 2;
    }
  }
}
