.zodiac {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  li {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-1x);
    justify-content: center;
    background: var(--gradient-inactive-zodiac);
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    filter: blur(1px);
    .icon {
      color: var(--icon-clear-hard-color);
      width: var(--icon-size-1x);
      height: var(--icon-size-1x);
    }
    .logo {
      color: var(--icon-clear-hard-color);
      width: var(--icon-size-2_5x);
      height: var(--icon-size-2_5x);
    }
    &.include {
      background: var(--gradient-active-zodiac);
      filter: none !important;
    }
  }
}
