.selector {
  background-color: var(--box-color);
  padding: 2rem;
  border-radius: var(--radius-2x);
  .title {
    text-transform: capitalize;
    width: 100%;
    text-align: start;
    font-weight: 500;
    font-size: var(--font-1_2x);
    margin-bottom: 0.5rem;
  }
  form {
    width: fit-content;
    ul {
      width: fit-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0.5rem;
      li {
        background-color: var(--card-color);
        border-radius: var(--radius-2x);
        padding: 1rem;
        width: 9rem;
        height: 9rem;
        overflow: hidden;
        position: relative;
        z-index: 1;
        cursor: pointer;
        &:has(input[type="radio"]:checked) {
          background-color: var(--card-active-color);
        }
        label {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-top: 0.5rem;
          cursor: pointer;
          img {
            width: 5rem;
            z-index: 1;
            height: 5rem;
            filter: grayscale(1) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          }
          input {
            width: 9rem;
            height: 9rem;
            position: absolute;
            opacity: 0;
            z-index: 4;
            top: -1rem;
            cursor: pointer;
          }
          h1 {
            font-weight: 400;
            font-size: var(--font-1_1x);
          }
        }
        &::before {
          content: "";
          background-color: var(--opacity-color);
          position: absolute;
          bottom: -2.3rem;
          left: 2.5%;
          border-radius: 50%;
          z-index: 0;
          width: 8.6rem;
          height: 7.8rem;
        }
      }
    }
  }
}
