.paymethods {
  background-color: var(--box-color);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  height: fit-content;
  align-items: center;
  border-radius: var(--radius-1x);
  h1 {
    text-transform: capitalize;
    text-align: start;
    white-space: nowrap;
    font-weight: 500;
    font-size: var(--font-1_2x);
  }
  ol {
    gap: 1rem;
    width: 100%;
    display: inline-flex;
    img {
      width: auto;
      height: 2.5rem;
    }
  }
}
