.card {
  background-color: var(--box-color);
  overflow: hidden;
  border-radius: var(--radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 24rem;
  width: 20rem;
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    border-radius: var(--radius);
    background-color: var(--opacity-color);
    width: 10rem;
    height: 10rem;
    z-index: 0;
    top: 52%;
    right: -13%;
    transform: rotate(45deg);
  }
  &::before {
    content: "";
    position: absolute;
    border-radius: var(--radius);
    background-color: var(--opacity-color);
    width: 10rem;
    height: 10rem;
    z-index: 0;
    top: 34%;
    left: -11%;
    transform: rotate(45deg);
  }
  .input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
  }
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .detail {
      display: flex;
      background-color: var(--font-color);
      color: var(--contrast-font-color);
      border-radius: var(--radius);
      gap: 0.5rem;
      padding: 0.2rem 1rem;
      font-size: 1.3rem;
      font-weight: 500;
      z-index: 2;
    }
    img {
      align-self: flex-end;
      width: 2.4rem;
      height: 2.4rem;
      z-index: 3;
    }
  }
  .point {
    width: 14rem;
    height: 14rem;
    z-index: 1;
    margin: 0 0.6rem;
  }
  .nameplant {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.3rem;
    margin-top: 0.6rem;
    width: 100%;
    z-index: 2;
  }
  .vibration {
    display: flex;
    background-color: var(--font-color);
    color: var(--contrast-font-color);
    border-radius: var(--radius);
    gap: 0.5rem;
    padding: 0.2rem 3rem 0.2rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    position: absolute;
    right: -11%;
    bottom: 1rem;
    z-index: 2;
  }
}
