@mixin shineEffect {
  transform: skewX(-20deg);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shine 1s linear infinite;
  opacity: 1;
  background: var(--gradient-loading);
}

.main {
  border-radius: var(--radius-3x);
  background-color: var(--page-color);
  margin: 0 4rem 4rem 0;
  padding: 3rem 3.5rem;
  box-shadow: var(--shadow);
  display: flex;
  gap: 3rem;
}

.filter {
  background-color: var(--box-color);
  height: 100%;
  border-radius: var(--radius);
  width: 23.7rem;
  min-width: 23.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: hidden;
  position: relative;
  &::after {
    @include shineEffect();
  }
}

.view {
  overflow-y: scroll;
  position: relative;
  width: 100%;
  .navsref {
    display: flex;
    position: sticky;
    top: 0;
    background: var(--page-color);
    z-index: 5;
    padding: 0.6rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    .pagination {
      width: 100%;
      border-radius: var(--radius-3x);
      background-color: var(--box-color);
      height: 2rem;
      overflow: hidden;
      position: relative;
      &::after {
        @include shineEffect();
      }
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    .card {
      background-color: var(--box-color);
      overflow: hidden;
      border-radius: var(--radius);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 24rem;
      width: 20rem;
      position: relative;
      &::after {
        @include shineEffect();
      }
    }
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}
