.productCard {
  width: auto;
  height: 13rem;
  min-height: 13rem;
  position: relative;
  background-color: var(--box-color);
  border-radius: var(--radius-2x);
  display: flex;
  padding: 1rem;
  overflow: hidden;
  justify-content: space-between;
  &::before {
    content: "";
    background-color: var(--card-active-color);
    width: 17rem;
    height: 19.7rem;
    rotate: 37.14deg;
    position: absolute;
    left: -3.3rem;
    top: -5.7rem;
    border-radius: 50%;
    z-index: 0;
  }
  &::after {
    content: "";
    background-color: var(--card-active-color);
    width: 23.8rem;
    height: 32rem;
    rotate: 66.43deg;
    position: absolute;
    right: -3.9rem;
    top: -8.4rem;
    border-radius: 50%;
    z-index: 0;
  }
  .images {
    position: relative;
    display: flex;
    width: 12rem;
    /* height: 12rem; */
    justify-content: center;
    align-items: flex-end;
    .picture {
      height: 7rem;
      width: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 5;
      filter: var(--drop-shadow);
      img {
        &:nth-child(1) {
          width: 160% !important;
          height: auto !important;
          z-index: 6;
          margin: 0 auto;
          top: initial !important;
          bottom: -3% !important;
          left: initial !important;
          right: initial !important;
        }
        &:nth-child(2) {
          position: relative !important;
        }
      }
    }
    & > :nth-child(2) {
      width: 5.5rem;
      height: 5.5rem;
      position: absolute;
      bottom: -0.5rem;
      right: calc(5.5rem / 3 * -1);
      filter: var(--drop-shadow);
    }
    z-index: 1;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    justify-content: space-between;
    width: 22rem;
    h1 {
      font-size: var(--font-1_3x);
      font-weight: 500;
      text-transform: capitalize;
    }
    p {
      text-transform: capitalize;
      font-size: var(--font-1_1x);
    }
    .priceTags {
      display: flex;
      gap: 1rem;
      .pill {
        border-radius: var(--radius-1x);
        background-color: var(--font-color);
        color: var(--contrast-font-color);
        padding: 0.2rem 1rem;
        font-size: var(--font-01x);
      }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
    width: 9rem;
    .actions {
      display: flex;
      gap: 1rem;
      .icon {
        width: var(--icon-size-2x);
        height: var(--icon-size-2x);
        color: var(--icon-clear-color);
        &:hover{
          color: var(--icon-clear-hard-color);
        }
      }
      z-index: 1;
    }
    .prices {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      & > :nth-child(1) {
        font-weight: 600;
        font-size: var(--font-1_1x);

        color: var(--font-color-button);
      }
      & > :nth-child(2) {
        font-weight: 500;
        font-size: var(--font-1_3x);
        color: var(--font-color-button);
      }
      z-index: 1;
    }
  }
}
