.search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 26rem;
  position: relative;

  .input {
    display: flex;
    background-color: var(--page-color);
    border-radius: var(--radius);
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    box-shadow: var(--shadow);
    input {
      height: 100%;
      border: none;
      width: auto;
      background-color: transparent;
      font-size: 1.1rem;
      text-indent: 1rem;
      &:focus {
        border: none;
        outline: none;
      }
    }
    img {
      width: 2rem;
      height: 2rem;
    }
  }
  .drop {
    display: flex;
    flex-direction: column;
    background-color: var(--box-color);
    border-radius: var(--radius);
    width: 100%;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    position: absolute;
    box-shadow: var(--shadow);
    top: 3.5rem;
    .dropitem {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      p {
        text-transform: capitalize;
      }
      a {
        text-decoration: none;
        // color: var(--page-color);
        align-items: center;
        gap: 0.5rem;
        img {
          width: 1.4rem;
          height: 1.4rem;
          filter: var(--icon-brightness);
        }
      }
    }
  }
}
