.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  width: 100%;
  label {
    text-transform: capitalize;
    font-size: var(--font-1x);
  }
  .labelCheck {
    grid-area: 1/1/1/3;
    display: block;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .label {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 0.5rem;

    input {
      border-radius: var(--radius-1x);
      border: 0.1rem solid var(--contrast-color);
      height: 3rem;
      font-size: var(--font-1x);
    }
    select {
      border-radius: var(--radius-1x);
      border: 0.1rem solid var(--contrast-color);
      height: 3rem;
      background-color: var(--clear-color);
      font-size: var(--font-1x);
    }
  }
  .labelArea {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 2;

    textarea {
      border-radius: var(--radius-1x);
      border: 0.1rem solid var(--contrast-color);
      user-select: none;
      resize: none;
      height: 100%;
      font-size: var(--font-1x);
    }
  }
}
