.filter {
  background-color: var(--box-color);
  height: 100%;
  border-radius: var(--radius);
  width: 23.7rem;
  min-width: 23.7rem;
  padding: 2.2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: hidden;
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0.8rem;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0.6rem 1.4rem;
        background-color: var(--page-color);
        --radius: 1rem;
        border-radius: var(--radius);
        &:hover {
          background-color: var(--active-color);
          img {
            filter: var(--icon-filter);
          }
        }
        &:has(input[type="checkbox"]:checked) {
          background-color: var(--active-color);
          img {
            filter: var(--icon-filter);
          }
        }
        img {
          width: 1.7rem;
          height: 1.7rem;
        }
        input {
          opacity: 0;
          position: absolute;
          z-index: 2;
          width: 100%;
          cursor: pointer;
          height: 100%;
        }
      }
    }
  }

  & > :nth-child(2) {
    li {
      width: 47%;
      padding: 0.3rem 1.4rem;
      img {
        width: 2.3rem;
        height: 2.3rem;
      }
    }
  }

  & > :nth-child(3) {
    ul > :last-child {
      margin-right: 18%;
    }
    ul > :nth-last-child(2) {
      margin-left: 18%;
    }
  }
}
