@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Roboto, sans-serif;
}

:root {
  font-size: 10px;
  --radius-scale: 0.8;
  --radius-1x: calc(1rem * var(--radius-scale));
  --radius-2x: calc(2rem * var(--radius-scale));
  --radius-3x: calc(3rem * var(--radius-scale));
  --icon-size-0_5x: 1.2rem;
  --icon-size-1x: 1.6rem;
  --icon-size-1_5x: 2rem;
  --icon-size-2x: 2.4rem;
  --icon-size-2_5x: 2.8rem;
  --icon-size-3x: 3.2rem;
  --font-scale: 1.2;
  --font-01x: 1rem;
  --font-1x: calc(1rem * var(--font-scale));
  --font-1_1x: calc(1.1rem * var(--font-scale));
  --font-1_2x: calc(1.2rem * var(--font-scale));
  --font-1_3x: calc(1.3rem * var(--font-scale));
  --font-1_4x: calc(1.4rem * var(--font-scale));
  --font-1_5x: calc(1.5rem * var(--font-scale));
  --font-2x: calc(2rem * var(--font-scale));
  --font-2_5x: calc(2.5rem * var(--font-scale));
  --font-3x: calc(3rem * var(--font-scale));
  --color-scheme: light;
  --shadow: 0px 0.4rem 0.4rem 0px rgb(0 0 0 / 25%);
  --drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

body {
  color: var(--font-color);
  background: var(--background-color);
  overflow: hidden;
}

a {
  color: var(--font-color);
  text-decoration: none;
  display: flex;
}

ul,
li {
  list-style: none;
}

button,
a {
  cursor: default;
  appearance: none;
}
button,
input {
  background-color: transparent;
  border: none;
  font-family: "Poppins";
  color: var(--font-color);
}
.button {
  padding: 0.8rem;
  color: var(--contrast-font-color);
  background-color: var(--active-color);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 1rem;
  font-size: var(--font-1x);
}
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // background-image: url("@/assets/icons/arrow-down.svg");
  // background-repeat: no-repeat;
  // background-position-x: right;
  // background-position-y: center;
  // background-origin: content-box;
}
img {
  pointer-events: none;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--contrast-color);
  border-radius: var(--radius-1x);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.icon {
  filter: var(--icon-filter);
}

.app-dark {
  --background-color: #3d413d;
  --page-color: #2f353a;
  --box-color: #262a2e;
  --contrast-color: #e2e2e2;
  --active-color: #1b1b1b;
  --card-active-color: #e91e63;
  --card-color: #646464;
  --card-hover-color: #e91e63;
  --opacity-color: #232528;
  --font-color: #ffffff;
  --contrast-font-color: #262a2e;
  --box-hard-color: #1a0a34;
  --box-hard-var-color: #d9d9d9;
  --color-scheme: dark;
  --font-color-button: #ffffff;
  --color-button: var(--card-active-color);
  --icon-filter: brightness(0) invert(1) contrast(1);
  --invert-icon-filter: brightness(1) invert(0) contrast(1);
  --active-icon-filter: brightness(0) invert(1) contrast(1);
  --icon-brightness: brightness(2);
  --icon-br: brightness(6);
  --planets-filter: var(--active-icon-filter);
  --chakras-filter: drop-shadow(2px 4px 6px #000000a8);
  --gradient-loading: linear-gradient(
    to right,
    #ffffff23 0%,
    var(--box-color) 50%,
    #ffffff56 100%
  );
  --gradient-active-zodiac: radial-gradient(
    78.75% 59.46% at 50% 50%,
    #9820c2 13.28%,
    rgba(152, 32, 194, 0.45) 70.58%,
    #9820c2 100%
  );
  --gradient-inactive-zodiac: radial-gradient(
    82.27% 61.61% at 50% 46.79%,
    #5d5962 0%,
    #b597e7 64.85%,
    rgba(102, 110, 118, 0.85) 100%
  );
}
.app-light {
  --background-color: #dbcdf0;
  --page-color: #ffffff;
  --box-color: #dbcdf0;
  --contrast-color: #2f353a;
  --active-color: #262a2e;
  --card-active-color: #262a2e;
  --card-color: #b597e7;
  --card-hover-color: #cdb4db;
  --opacity-color: #ebe4f7;
  --font-color: #262a2e;
  --contrast-font-color: #ffffff;
  --box-hard-color: #b597e7;
  --box-hard-var-color: #b597e7;
  --color-scheme: light;
  --font-color-button: #ffffff;
  --color-button: var(--card-active-color);
  --icon-filter: brightness(1) invert(0) contrast(1);
  --invert-icon-filter: brightness(0) invert(1) contrast(1);
  --active-icon-filter: brightness(0) invert(1) contrast(1);
  --icon-brightness: brightness(0);
  --icon-br: brightness(6);
  --planets-filter: grayscale(1) brightness(0) contrast(0.6);
  --chakras-filter: drop-shadow(2px 4px 6px #ffffffa8);
  --gradient-loading: linear-gradient(
    to right,
    #ffffff23 0%,
    var(--box-color) 50%,
    #ffffff56 100%
  );
  --gradient-active-zodiac: radial-gradient(
    78.75% 59.46% at 50% 50%,
    #9820c2 13.28%,
    rgba(152, 32, 194, 0.45) 70.58%,
    #9820c2 100%
  );
  --gradient-inactive-zodiac: radial-gradient(
    82.27% 61.61% at 50% 46.79%,
    #5d5962 0%,
    #b597e7 64.85%,
    rgba(102, 110, 118, 0.85) 100%
  );
}
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: var(--color-scheme);
//   }
//   :root {
//     --background-color: #3d413d;
//     --page-color: #2f353a;
//     --box-color: #262a2e;
//     --contrast-color: #e2e2e2;
//     --active-color: #1b1b1b;
//     --card-active-color: #e91e63;
//     --card-color: #646464;
//     --opacity-color: #232528;
//     --font-color: #ffffff;
//     --contrast-font-color: #262a2e;
//     --box-hard-color: #1a0a34;
//     --box-hard-var-color: #d9d9d9;
//     --color-scheme: dark;
//     --icon-filter: brightness(0) invert(1) contrast(1);
//     --invert-icon-filter: brightness(1) invert(0) contrast(1);
//   }
// }
/*
@media (prefers-color-scheme: light) {
  html {
    color-scheme: var(--color-scheme);
  }
  .app.light {
    --background-color: #dbcdf0;
    --page-color: #ffffff;
    --box-color: #dbcdf0;
    --contrast-color: #2f353a;
    --active-color: #262a2e;
    --card-active-color: #262a2e;
    --card-color: #b597e7;
    --opacity-color: #ebe4f7;
    --font-color: #262a2e;
    --contrast-font-color: #ffffff;
    --box-hard-color: #b597e7;
    --box-hard-var-color: #b597e7;
    --color-scheme: light;
    --icon-filter: brightness(1) invert(0) contrast(1);
    --invert-icon-filter: brightness(0) invert(1) contrast(1);
  }
} */

[data-tooltip] {
  position: relative;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: 0.9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.7rem 1rem;
  border-radius: var(--radius-1x);
  background: var(--card-active-color);
  color: var(--contrast-font-color);
  z-index: 99;
  text-transform: capitalize;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip][data-show="false"]::before,
[data-tooltip][data-show="false"]::after {
  display: none;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--card-active-color);
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 0.45rem);
}
[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
  transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--card-active-color);
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 0.45rem);
}
[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: var(--card-active-color);
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: var(--card-active-color);
  right: calc(0em - 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}
