.main {
  border-radius: var(--radius-3x);
  background-color: var(--page-color);
  margin: 0 4rem 4rem 0;
  padding: 3rem 3.5rem;
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: 1rem 3rem;
  overflow: hidden;
  & > :nth-child(1) {
    grid-area: 1/1/2/2;
    overflow: hidden;
  }
  & > :nth-child(2) {
    grid-area: 2/1/2/2;
  }
  & > :nth-child(3) {
    grid-area: 1/2/3/3;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--font-1_5x);
  }
}
