.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;

  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1.3rem;
    position: absolute;
    top: calc(50vh - 55.5vh);
  
  li {
    padding: 0.5rem;
    border-radius: var(--radius);
    cursor: pointer;
    a{
    .navicon {
      width: 3.08rem;
      height: 3.08rem;
      filter: var(--icon-filter);
    }
    }
    &:hover {
      background-color: var(--contrast-background);
      .navicon {
        filter: brightness(0.5) invert(1) contrast(1);
      }
    }
    
  }
  }
}
