.search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 26rem;
  position: relative;

  .input {
    display: flex;
    background-color: var(--page-color);
    border-radius: var(--radius-1x);
    width: 100%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    box-shadow: var(--shadow);
    input {
      height: 100%;
      width: 100%;
      border: none;
      background-color: transparent;
      font-size: var(--font-1x);
      text-indent: 1rem;
      &:focus {
        border: none;
        outline: none;
      }
    }
    .icon {
      width: var(--icon-size-1_5x);
      height: var(--icon-size-1_5x);
      color: var(--font-color);
    }
  }
  .drop {
    display: flex;
    flex-direction: column;
    background-color: var(--box-color);
    border-radius: var(--radius-1x);
    width: 100%;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    position: absolute;
    box-shadow: var(--shadow);
    top: 3.5rem;
    .dropitem {
      display: flex;
      justify-content: space-between;
      font-size: var(--font-1x);
      p {
        text-transform: capitalize;
        display: inline-flex;
        span {
          text-transform: inherit;
          text-overflow: ellipsis;
          overflow: hidden;
          word-wrap: normal;
          white-space: nowrap;
          max-width: 8.5rem;
        }
      }
      a {
        text-decoration: none;
        // color: var(--page-color);
        align-items: center;
        gap: 0.5rem;
        svg {
          width: var(--icon-size-0_5x);
          height: var(--icon-size-0_5x);
          color: var(--font-color);
        }
      }
    }
  }
}
