.view {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  width: 100%;
  .items {
    overflow: hidden;
    overflow-y: auto;
    transition: flex-wrap 1s ease;
    grid-area: 1/1/3/1;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
    width: 100%;
  }
}
