.plantDetail {
  background-color: var(--opacity-color);
  border-bottom-left-radius: var(--radius-2x);
  border-bottom-right-radius: var(--radius-2x);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: fit-content;
  min-width: 33rem;
  gap: 1rem;
  h1 {
    text-transform: capitalize;
    font-size: var(--font-1_2x);
    font-weight: 500;
  }
  ul {
    li {
      list-style: disc;
      font-size: var(--font-1x);
    }
  }
}
