.presentation {
  display: flex;
  position: relative;
  width: 48rem;
  height: fit-content;
  justify-content: flex-end;
  &::before {
    content: "";
    border-radius: var(--radius-2x);
    background-color: var(--card-color);
    position: absolute;
    width: 28rem;
    height: 36rem;
    z-index: 0;
    top: calc(100% / 2 - 36rem / 2);
    left: -3rem;
  }
  .picture {
    position: absolute;
    // top: calc((100% - 48rem) / 2);
    bottom: 0rem;
    left: 0;
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    img {
      &:nth-child(1) {
        width: 160% !important;
        height: auto !important;
        z-index: 6;
        margin: 0 auto;
        top: initial !important;
        bottom: -3% !important;
        left: initial !important;
        right: initial !important;
      }
      &:nth-child(2) {
        position: relative !important;
      }
    }
    // img {
    //   width: 37rem;
    //   height: 37rem;
    //   position: absolute;
    //   top: calc((100% - 48rem) / 2);
    //   left: calc((37rem / 2) / 2.2 * -1);
    //   z-index: 2;
    //   filter: var(--drop-filter);
    // }
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--opacity-color);
    border-radius: var(--radius-2x);
    padding: 3rem 3rem 3rem 10rem;
    margin: 2rem 0 2rem 0;
    gap: 0.5rem;
    width: 38rem;
    // height: 30rem;
    z-index: 1;
    h1 {
      font-size: var(--font-1_5x);
      font-weight: 500;
    }
    h2 {
      font-size: var(--font-1_3x);
      font-weight: 300;
    }
    p {
      text-align: justify;
      font-size: var(--font-1x);
      border-top: solid 0.01rem var(--font-color);
      padding-top: 1rem;
      max-height: 12rem;
      overflow: hidden;
      // white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }
    button {
      margin-top: 2rem;
      color: var(--font-color-button);
      background-color: var(--color-button);
      opacity: 90%;
      &:hover {
        opacity: 100%;
      }
    }
  }
}
