.card {
  background-color: var(--box-color);
  overflow: hidden;
  border-radius: var(--radius-2x);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  position: relative;
  &:hover {
    background-color: var(--card-hover-color);
    &::after {
      top: 45%;
      right: 3%;
      transform: rotate(225deg);
      width: 29rem;
      height: 16rem;
    }
    &::before {
      top: -7%;
      left: 60%;
      transform: rotate(185deg);
    }
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: var(--radius-2x);
    background-color: var(--opacity-color);
    width: 10rem;
    height: 10rem;
    z-index: 0;
    top: 52%;
    right: -13%;
    transform: rotate(45deg);
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease,
      width 0.5s ease, height 0.5s ease;
  }
  &::before {
    content: "";
    position: absolute;
    border-radius: var(--radius-2x);
    background-color: var(--opacity-color);
    width: 10rem;
    height: 10rem;
    z-index: 0;
    top: 34%;
    left: -11%;
    transform: rotate(45deg);
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
  }
  .input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    left: 0;
    top: 0;
  }
  .favoriteBtn {
    align-self: flex-end;
    z-index: 3;
    .favorite {
      width: 2.4rem;
      height: 2.4rem;
      z-index: 3;
      filter: var(--icon-filter);
    }
  }
  .point {
    width: 14rem;
    height: 14rem;
    z-index: 1;
    margin: 0 0.6rem;
  }
  .data {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    z-index: 1;
    h2 {
      font-weight: 500;
      text-transform: capitalize;
      font-size: var(--font-1_2x);
    }
    .elements {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      position: relative;
      ul {
        display: flex;
        align-items: center;
        img {
          width: 2.4rem;
          height: 2.4rem;
        }
        li {
          height: 2.4rem;
        }
      }
      .vibration {
        display: flex;
        background-color: var(--font-color);
        color: var(--contrast-font-color);
        border-radius: var(--radius-2x);
        gap: 0.5rem;
        padding: 0.2rem 3rem 0.2rem 1rem;
        font-size: var(--font-1x);
        font-weight: 500;
        position: absolute;
        right: -22%;
        img {
          filter: var(--invert-icon-filter);
        }
      }
    }
  }
}
