.container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  h1 {
    font-size: var(--font-1_3x);
  }
  .prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    width: 100%;
    span {
      white-space: nowrap;
    }
  }
  .slider {
    position: relative;
    width: 100%;
    height: 2rem;
    .thumb {
      width: 100%;
      outline: none;
      position: absolute;
      pointer-events: none;
      height: inherit;
      -webkit-appearance: none;
      appearance: none;
      .left {
        z-index: 3;
      }
      .right {
        z-index: 4;
      }
    }
  }
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background: var(--contrast-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 1.3rem;
  width: 1.3rem;
  z-index: 99;
  pointer-events: all;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: -0.5rem;
}

.thumb:focus {
  outline: none;
}
.thumb::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  background: var(--contrast-color);
  // background: #ff00dd;
  border-radius: 5px;
  border: none;
}
// .thumb:focus::-webkit-slider-runnable-track {
//   background: #00ff0d;
// }
