@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Roboto, sans-serif;
}

:root {
  font-size: 10px;
  --radius: 15px;
  --color-scheme: light;
  --shadow: 0px 0.4rem 0.4rem 0px rgb(0 0 0 / 25%);
  --drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

body {
  color: var(--font-color);
  background: var(--background-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
  display: flex;
}

ul,
li {
  list-style: none;
}

button,
a {
  cursor: default;
  appearance: none;
}
button,
input {
  background-color: transparent;
  border: none;
  font-family: "Poppins";
}
.button {
  padding: 0.6rem;
  color: var(--contrast-font-color);
  background-color: var(--active-color);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 1rem;
}
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // background-image: url("@/assets/icons/arrow-down.svg");
  // background-repeat: no-repeat;
  // background-position-x: right;
  // background-position-y: center;
  // background-origin: content-box;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--contrast-font-color);
  border-radius: var(--radius);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--font-color);
}
.icon {
  filter: var(--icon-filter);
}

.app-dark {
  --background-color: #3d413d;
  --page-color: #2f353a;
  --box-color: #262a2e;
  --contrast-color: #e2e2e2;
  --active-color: #1b1b1b;
  --card-active-color: #e91e63;
  --card-color: #646464;
  --opacity-color: #232528;
  --font-color: #ffffff;
  --contrast-font-color: #262a2e;
  --box-hard-color: #1a0a34;
  --box-hard-var-color: #d9d9d9;
  --color-scheme: dark;
  --icon-filter: brightness(0) invert(1) contrast(1);
  --invert-icon-filter: brightness(1) invert(0) contrast(1);
  --active-icon-filter: brightness(0) invert(1) contrast(1);
  --icon-brightness: brightness(2);
}
.app-light {
  --background-color: #dbcdf0;
  --page-color: #ffffff;
  --box-color: #dbcdf0;
  --contrast-color: #2f353a;
  --active-color: #262a2e;
  --card-active-color: #262a2e;
  --card-color: #b597e7;
  --opacity-color: #ebe4f7;
  --font-color: #262a2e;
  --contrast-font-color: #ffffff;
  --box-hard-color: #b597e7;
  --box-hard-var-color: #b597e7;
  --color-scheme: light;
  --icon-filter: brightness(1) invert(0) contrast(1);
  --invert-icon-filter: brightness(0) invert(1) contrast(1);
  --active-icon-filter: brightness(0) invert(1) contrast(1);
  --icon-brightness: brightness(0);
}
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: var(--color-scheme);
//   }
//   :root {
//     --background-color: #3d413d;
//     --page-color: #2f353a;
//     --box-color: #262a2e;
//     --contrast-color: #e2e2e2;
//     --active-color: #1b1b1b;
//     --card-active-color: #e91e63;
//     --card-color: #646464;
//     --opacity-color: #232528;
//     --font-color: #ffffff;
//     --contrast-font-color: #262a2e;
//     --box-hard-color: #1a0a34;
//     --box-hard-var-color: #d9d9d9;
//     --color-scheme: dark;
//     --icon-filter: brightness(0) invert(1) contrast(1);
//     --invert-icon-filter: brightness(1) invert(0) contrast(1);
//   }
// }
/*
@media (prefers-color-scheme: light) {
  html {
    color-scheme: var(--color-scheme);
  }
  .app.light {
    --background-color: #dbcdf0;
    --page-color: #ffffff;
    --box-color: #dbcdf0;
    --contrast-color: #2f353a;
    --active-color: #262a2e;
    --card-active-color: #262a2e;
    --card-color: #b597e7;
    --opacity-color: #ebe4f7;
    --font-color: #262a2e;
    --contrast-font-color: #ffffff;
    --box-hard-color: #b597e7;
    --box-hard-var-color: #b597e7;
    --color-scheme: light;
    --icon-filter: brightness(1) invert(0) contrast(1);
    --invert-icon-filter: brightness(0) invert(1) contrast(1);
  }
} */
