@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Roboto, sans-serif;
}

:root {
  font-size: 10px;
  --radius: 15px;
  --color-scheme: light;
}

body {
  color: var(--font-color);
  background: var(--main-background);
}

a {
  color: var(--font-color);
  text-decoration: none;
  display: flex;
}

ul,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--font-color);
}
.icon{
filter: var(--icon-filter);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: var(--color-scheme);
  }
  :root {
    --background-color: #3D413D;
    --page-color: #2f353a;
    --box-color: #262a2e;
    --contrast-color: #e2e2e2;
    --active-color: #1b1b1b;
    --opacity-color: #232528;
    --font-color: #ffffff;
    --box-hard-color: #1a0a34;
    --box-hard-var-color: #d9d9d9;
    --color-scheme: dark;
    --icon-filter: brightness(0) invert(1) contrast(1);
    
    --main-background: var(--background-color);
    --contrast-background: var(--page-color);
    --comp-background: var(--background-color);
    --box-background: var(--page-color);
    
  }
  /* :root {
    --main-background: #dbcdf0;
    --contrast-background: #2f353a;
    --comp-background: var(--main-background);
    --box-background: #fff;
    --color-scheme: light;
  } */
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: var(--color-scheme);
  }
  :root {
    --background-color: #dbcdf0;
    --page-color: #ffffff;
    --box-color: #dbcdf0;
    --contrast-color: #2f353a;
    --active-color: #2f353a;
    --opacity-color: #ebe4f7;
    --font-color: #262a2e;
    --box-hard-color: #b597e7;
    --box-hard-var-color: #b597e7;
    --color-scheme: light;
    --icon-filter: brightness(1) invert(0) contrast(1);
    
    --main-background: var(--background-color);
    --contrast-background: var(--page-color);
    --comp-background: var(--background-color);
    --box-background: var(--page-color);
  }
}
